.DS_Store
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
local_settings.py
*.pyc
/configs/local_settings.py.staging
/configs/committee-oversight-staging.conf.nginx
/configs/committee-oversight-staging.conf.supervisor
bad_rows.txt

# Wagtail media uploads
media
