django>=2.1.5,<2.2

sqlalchemy==1.3.0
psycopg2==2.7.5
https://github.com/datamade/csvkit/archive/0.9.zip

https://github.com/opencivicdata/python-opencivicdata/archive/f6c1174300e7e0ee936531762d176da3eb3c5a54.zip

django-crispy-forms==1.7.2
requests>=2.20.0
urllib3==1.24.2
django-datatables-view==1.17.0
wagtail==2.6.1

jinja2==2.10.1
gunicorn==19.9.0
