:root {
  --lightest-blue-color: #fafcff;
  --light-blue-color: #e8eef9;
  --dark-blue-color: #002f67;
  --darkest-blue-color: #001f43;
  --light-gray-color: #ced4da;
  --dark-gray-color: #495057;
  --green-color: #5e9167;
  --dark-green-color: #218838;
  --red-color: #b80026;
  --dark-red-color: #6f0017;
}

body {
  background: var(--lightest-blue-color);
  padding: 75px 0px 50px 0px;
}

.btn-success {
  background-color: var(--green-color);
}

.container {
  padding-top: 40px;
}

.hearing-form {
  padding: 30px;
}

.dynamic-form {
  background: var(--light-blue-color);
  padding: 0px 20px 50px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.dynamic-form div div {
  padding-top: 10px;
}

.dynamic-form div div input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark-gray-color);;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid var(--light-gray-color);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.delete-row {
  color: var(--red-color);
  float: right;
  padding: 15px 0px;
  font-size: 14px;
  font-weight: 500;
}

.delete-row:hover {
  color: var(--dark-red-color);
}

.add-row {
  color: var(--green-color);
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
}

.add-row:hover {
  color: var(--dark-green-color);
}

#save-hearing-button {
  margin-top: 40px;
}

#hearing-title-col {
  width: 65%;
}

#hearing-table_paginate {
  padding: 30px 10px 10px 10px;
}

.page-item.active .page-link {
    background-color: var(--dark-blue-color);
    border-color: var(--dark-blue-color);
}

.page-link {
  color: var(--dark-blue-color);
}

.navbar {
    background: var(--dark-blue-color);
}

.navbar div li {
  color: white;
  padding: 10px 15px;
  font-size: .95rem;
}

.navbar div a {
  color: white;
}

.navbar-brand {
  padding-left: 10px;
}

.nav-item:hover {
  background-color: var(--darkest-blue-color);
  border-radius: .25rem;
}
