body {
  background: #fafcff;
}

.container {
  padding-top: 40px;
}

.hearing-form {
  padding: 30px;
}

.dynamic-form {
  background: #d2d4d7;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.dynamic-form div {
  padding-top: 10px;
}

.footer {
    padding-top: 40px;
}

.footer div {
  background: #002f67;
  padding: 10px;
}
