{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="row justify-content-center align-items-center">
  <div class="col-12 col-md-4 text-md-right">
      <h2 class="mb-4 ml-md-3 red-orange-color">{{page.title}}</h2>
      <small class="ml-md-3"><i>Last updated: {% now "jS F Y H:i" %}</i></small>
  </div>

  <div class="col-12 col-md-8 col-xl-6 pt-2">
    {{ page.body|safe }}
  </div>
</div>

{% block table_content %}
{% endblock %}

<script>
  $(document).ready(function () {
      $('.committee-table').DataTable({
        "dom": "Bfrtip",
        "paging": false,
        "searching": false,
        "info": false,
        "order": [[ 0, "asc" ]],
      });
  });
</script>

{% endblock %}
