{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
<div class="row justify-content-center align-items-center">
  <div class="col-12 col-md-4 text-md-right">
      <h2 class="mb-4 ml-md-3 red-orange-color">{{page.title}}</h2>
      <small class="ml-md-3"><i>Last updated: {{last_updated}}</i></small>
  </div>

  <div class="col-12 col-md-8 col-xl-6 pt-2">
    {{ page.body|safe }}
  </div>
</div>

{% block table_content %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/grade_sort.js' %}"></script>
{% endblock %}

<script>
  $(document).ready(function () {
      $('.committee-table').DataTable({
        "dom": "Bfrtip",
        "paging": false,
        "searching": false,
        "info": false,
        "order": [[ 0, "asc" ]],
        "columnDefs": [
          { "type": 'grade-sort', "targets": [1, 2, 3, 4, 5, 6] }
        ],
      });
  });
</script>

{% endblock %}
