{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="hearing-form card">
  <h2>Create New Hearing Record</h2>
  <br />
  <form method="POST" class="form">
    {% csrf_token %}

    {{ event_form | crispy }}

    {{ committee_form | crispy }}

    {{ category_form | crispy }}

    {{ transcript_form | crispy }}

    <h4>Witnesses</h4>
    <!-- {{ witness_formset | crispy }} -->
    <div id="WitnessForm">
      {% for form in witness_formset.forms %}
      <div class="row">
         <div class="col-sm-6">{{ form.name.label }} {{ form.name }}</div>
         <div class="col-sm-6">{{ form.organization.label }} {{ form.organization }}</div>
      </div>
         <div>{{ form.url.label }} {{ form.url }}</div>
      {% endfor %}
    </div>
    {{ witness_formset.management_form }}
    <br />

    <button type="submit" class="btn-lg btn-success float-right">Save hearing</button>
  </form>
  <br />
</div>

<script type="text/javascript">
    $(document).ready(function() {
      $('.basic-multiple').select2();
    });

    $(function() {
        $('#WitnessForm').formset();
    })
</script>

{% endblock %}
