<div>Created at <b>{{hearing.created_at | date:"Y-m-d H:i:s"}}</b></div><br />
<table class="table table-striped table-bordered" id="hearing-table">
 <thead>
 </thead>
 <tbody>
   <tr>
     <td><b>Hearing Title</b></td>
     <td>{{hearing.name | title}}</td>
   </tr>
   <tr>
     <td><b>Hearing Date</b></td>
     <td>{{hearing.start_date}}</td>
   </tr>
   <tr>
     <td><b>Committees</b></td>
     <td>
       {% for committee in committees %}
       {{committee.name}}<br />
       {% endfor %}
     </td>
   </tr>
   <tr>
     <td><b>Category</b></td>
     <td>{{category_name}}</td>
   </tr>
   <tr>
     <td><b>Transcript URL</b></td>
     {% if transcript_archived %}
        <td><a href={{transcript_archived}} target="_blank">{{transcript}}</a></td>
     {% else %}
        <td><a href={{transcript}} target="_blank">{{transcript}}</a></td>
     {% endif %}
   </tr>
   <tr>
     <td><b>Chair Opening Statement URL</b></td>
     {% if opening_statement_chair_archived %}
       <td><a href={{opening_statement_chair_archived}} target="_blank">{{opening_statement_chair}}</a></td>
     {% else %}
       <td><a href={{opening_statement_chair}} target="_blank">{{opening_statement_chair}}</a></td>
     {% endif %}
   </tr>
   <tr>
     <td><b>Ranking Member Opening Statement URL</b></td>
     {% if opening_statement_rm_archived %}
       <td><a href={{opening_statement_rm_archived}} target="_blank">{{opening_statement_rm}}</a></td>
     {% else %}
       <td><a href={{opening_statement_rm}} target="_blank">{{opening_statement_rm}}</a></td>
     {% endif %}
   </tr>
   <tr>
     <td><b>Witnesses</b></td>
     <td>
       {% for witness in witnesses %}
       {{witness.name}}<br />
       {% endfor %}
     </td>
   </tr>
   <tr>
     <td><b>Sources</b></td>
     <td>
       {% for source in hearing.sources.all %}
        <a href={{source}} target="_blank">{{source}}<br /></a>
       {% endfor %}
     </td>
   </tr>
 </tbody>
 </table>
