{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
  <div class="col col-lg-9">
  <script type="text/javascript">
      $(document).ready(function() {
        $('.basic-multiple').select2();
      });

      $(function() {
          $('#WitnessForm .form-container').formset();
      })
  </script>

  <div class="hearing-form card">
    <h2>Edit Hearing Record</h2>
    <br />
    {% include 'partials/created_edited_dates.html' %}
    <form method="POST" class="form">

      {% include 'partials/hearing_form.html' %}

      <div class="float-right edit-buttons">
        {% include "partials/hearing_list_button.html" %}

        <button type="submit" class="btn btn-success">
          Update hearing
        </button>
      </div>

    </form>
  </div>
  </div>
</div>
{% endblock %}
