{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col col-lg-11">
  <div class="hearing-form card">
    <h2 class="text-center">{{hearing.name|title }}</h2>
    <br />

    {% include 'partials/hearing_detail.html' %}

  <div>
     <div class="float-right">
       {% include "partials/hearing_list_button.html" %}
       {% if user.is_authenticated %}
       <a href="{% url 'edit-event' hearing.pk %}" class="btn btn-edit">
         <i class="fas fa fa-pencil-alt"></i>&nbsp;
         Edit hearing
       </a>
       <a href="{% url 'delete-event' hearing.pk %}" class="btn btn-danger">
         <i class="fas fa-times-circle"></i>&nbsp;
         Delete hearing
       </a>
       {% endif %}
     </div>
  </div>

  </div>
  </div>
</div>

{% endblock %}
