{% extends 'base.html' %}

{% block content %}
<div class="col">
<div class="hearing-form card">

 <p><a href="/" class="btn btn-success">Create new hearing</a></p>
 <p><i>The table below shows all scraped, imported, and manually entered hearings.</i></p>

 {% include 'partials/hearing_table.html' %}

</div>
</div>

<script>
$(document).ready( function () {
    $('#hearing-table').DataTable({
      "dom": "Bfrtip",
      "order": [[ 0, "desc" ]],
      "columnDefs": [{ "orderable": false, "targets": [3, 4] }],
      "processing": true,
      "serverSide": true,
      "ajax": "{% url 'order_list_json' %}"
    });
} );
</script>

{% endblock %}
