{% extends 'base.html' %}

{% block content %}
<div class="hearing-form card">

<p><a href="/" class="btn btn-success">Create new hearing</a></p>

<table class="table table-striped" id="hearing-table">
  <thead>
    <tr>
      <th scope="col" style="width: 60%">Hearing Title</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for hearing in hearings %}
    <tr>
      <td>{{hearing.name | title}}</td>
      <td>{{hearing.start_date}}</td>
      <td>
        <button type="submit" class="btn btn-warning">Edit</button>
      </td>
      <td>
        <button type="submit" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<script>
$(document).ready( function () {
    $('#hearing-table').DataTable({
      "dom": "Bfrtip",
    });
} );
</script>

{% endblock %}
