{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9 mx-auto text-center">
      <h2 class="mb-4 text-center">Category: {{page.category}}</h2>
    </div>
  </div>

  <div class="row justify-content-center">
   <div class="col-12 col-lg-10 col-xl-7 my-2 font-weight-light">
     <div id="summary">
       <div class="collapse" id="collapseSummary">
         {{ page.body|safe }}
       </div>
       <a class="collapsed btn btn-back btn-center my-3" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
     </div>
     <hr />
   </div>
  </div>

  <div class="card mt-5 col-12 col-xl-10 mx-auto card-shadow">
    <div class="card-body">
      {% include 'partials/hearing_table.html' with table_size="table-sm" %}
    </div>
  </div>

  <script>
  $(document).ready(function () {
      var categoryID = {{page.category.id}}

      function makeAjaxUrl(categoryID) {
        var ajaxUrl = "{% url 'order_list_json' %}" +
               '?detail_type=category' +
               '&id=' + categoryID;
        return ajaxUrl;
      }

      $('#hearing-table').DataTable({
        "dom": "Bfrtip",
        "order": [[ 0, "desc" ]],
        "columnDefs": [
          { "searchable": false, "targets": [3], "visible": false },
          { "orderable": false, "targets": [4, 5] },
        ],
        "processing": true,
        "serverSide": true,
        "ajax": makeAjaxUrl(categoryID)
      });
  });
  </script>

{% endblock %}
