{% extends "base.html" %}

{% block content %}
  <div class="col-12 col-lg-9 mx-auto">
    <h1 class="mb-4">Category {{page.detail_object.id}}: {{page.detail_object.name}}</h1>
  </div>

  {% include 'partials/streamfield.html' %}

  {% include 'partials/hearing_table.html' %}

  <script>
  $(document).ready(function () {
      var id = {{page.detail_object.id}}

      $('#hearing-table').DataTable({
        "dom": "Bfrtip",
        "order": [[ 0, "desc" ]],
        "columnDefs": [{ "orderable": false, "targets": [3, 4] }],
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'order_list_json' 'category' %}/" + id
      });
  });
  </script>

{% endblock %}
