{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-6 col-xl-5 text-lg-right">
        <h2 class="mb-4 ml-3 dark-blue-color">{{page.title}}</h2>
        <div class="m-3 m-lg-0 mt-lg-3">{{page.body|richtext}}</div>
        <small class="m-3 m-lg-0"><i>Last updated: {% now "jS F Y H:i" %}</i></small>
    </div>

    <div class="col-12 col-lg-6 col-xl-5">
      <label class="m-3">
        <h4 class="mb-3">Search by committee:</h4>
        <select id="committee-select" class="form-control select2-single">
          {% for committee in committees %}
            <option value="{{committee.url}}">{{committee.name}}</option>
          {% endfor %}
        </select>
      </label>
      <button
        class="btn btn-primary ml-3"
        type="submit"
        onclick="javascript:goToCommittee();"
      >
        Go
      </button>
      <div class="mx-3 mt-3">
        <a href="{% slugurl 'compare-current-committees' %}">
          Compare current committees
          <i class="fas fa-sm fa-angle-double-right"></i>
        </a>
      </div>
      <div class="mx-3">
        <a href="{% slugurl 'compare-committees-over-congresses' %}">
          Compare committees over Congresses
          <i class="fas fa-sm fa-angle-double-right"></i>
        </a>
      </div>
    </div>
  </div>

  {% include "partials/landing_page_table.html" with committees=house_committees title="House of Representatives"%}

  {% include "partials/landing_page_table.html" with committees=senate_committees title="Senate"%}

  {% block extra_js %}
    <script type="text/javascript" src="{% static 'js/grade_sort.js' %}"></script>
  {% endblock %}

  <script>
    $(document).ready(function() {
      $('.select2-single').select2();
    });

    function goToCommittee() {
        var select = document.getElementById("committee-select")
        var url = select.options[select.selectedIndex].value;
        window.location.href=url;
    }

    $(document).ready(function () {
        $('.committee-table').DataTable({
          "dom": "Bfrtip",
          "paging": false,
          "searching": false,
          "info": false,
          "order": [[ 0, "asc" ]],
          "columnDefs": [
            { "orderable": false, "targets": [3, 4, 5] },
            { type: 'grade-sort', targets: 1 }
          ],
        });
    });
  </script>

{% endblock %}
