{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

  <div class="row">
    <div class="col-12 col-lg-4 col-xl-4 landing-description">
        <h2 class="mb-4 ml-3 red-color">{{page.title}}</h2>
        <div class="m-3">{{page.body|richtext}}</div>
        <label class="m-3">
          <h4 class="mb-3">Search by committee:</h4>
          <select id="committee-select" class="form-control select2-single">
            {% for committee in committees %}
              <option value="{{committee.url_id}}">{{committee.name}}</option>
            {% endfor %}
          </select>
        </label>
        <button
          class="btn btn-success float-right mr-3"
          type="submit"
          onclick="javascript:goToCommittee();"
        >
          Go
        </button>

    <div class="col-12 col-lg-6 col-xl-4">
      <label class="m-3">
        <h4 class="mb-3">Search by committee:</h4>
        <select id="committee-select" class="form-control select2-single">
          {% for committee in committees %}
            <option value="{{committee.url_id}}">{{committee.name}}</option>
          {% endfor %}
        </select>
      </label>
      <button
        class="btn btn-success ml-3"
        type="submit"
        onclick="javascript:goToCommittee();"
      >
        Go
      </button>
    </div>
  </div>

    <div class="row">
    <div class="col-12 col-lg-3 p-3 offset-lg-5">
      <div class="row">
        <div class="col-10">
          <h3 class="mb-4 text-right">The House</h3>
        </div>
        <div class="col-2"></div>
      </div>

      {% for committee in house_committees %}
        <div class="row pl-3">
          <div class="col-10 align-bottom">
            <p class="list-item text-right"><a href="{{committee.url_id}}">{{committee}}</a></p>
            <hr>
          </div>
          <div class="col-2 rating {{committee.latest_rating.css_class}}">{{committee.latest_rating}}</div>
        </div>
      {% endfor %}
    </div>

    <div class="col-12 col-lg-3 p-3">
      <div class="row">
        <div class="col-10">
          <h3 class="mb-4 text-right">The Senate</h3>
        </div>
        <div class="col-2"></div>
      </div>

      {% for committee in senate_committees %}
      <div class="row pl-3">
        <div class="col-10 align-bottom">
          <p class="list-item text-right"><a href="{{committee.url_id}}">{{committee}}</a></p>
          <hr>
        </div>
        <div class="col-2 rating {{committee.latest_rating.css_class}}">{{committee.latest_rating}}</div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('.select2-single').select2();
    });

    function goToCommittee() {
        var select = document.getElementById("committee-select")
        var url = select.options[select.selectedIndex].value;
        window.location.href=url;
    }
  </script>

{% endblock %}
