<div class="card mt-5 col-12 col-lg-10 mx-auto card-shadow">
  <h4 class="text-center mt-4">{{title}}</h4>
  <div class="card-body">
    <div class="table-responsive">
      <table class="committee-table table table-borderless table-striped table-sm text-center"
      >
      <thead>
        <tr class="landing-row">
          <th class="align-top">Committee</th>
          {% for rating in committees.first.ratings_by_congress_desc %}
            <th class="align-top">
              {{rating.congress}}
              {% if rating.congress.is_current %}
               (projected)
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
          {% for committee in committees %}
            {% if not committee.hide_rating %}
              <tr>
                <td class="list-item text-right pr-2"><a href="{{committee.url}}">{{committee.short_name}}</a></td>
                  {% for rating in committee.ratings_by_congress_desc %}
                    <td class="rating {{rating.css_class}}">
                      {{rating}}
                    </td>
                  {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
