{% load static %}

<footer class="text-center mt-5">
<a href="http://www.thelugarcenter.org/">
  <img class="m-4" height="60" src="{% static 'images/logo.png' %}" />
</a>

<p>
  1455 Pennsylvania Avenue, NW,  Suite 1125<br />
  Washington, D.C. 20004<br />
  Phone: (202) 816-3333<br />
  <a href="mailto:contact@thelugarcenter.org">contact@thelugarcenter.org</a>
</p>

<div>
  Website by<br/>
  <a href="https://datamade.us">
    <img class="mb-4 mt-2 datamade-logo-footer" height="20" src="{% static 'images/datamade_logo.png' %}" />
  </a>
</div>

<small>
  <a href="/cms">Admin login</a>
</small>
</footer>
