{% load crispy_forms_tags %}

{% csrf_token %}

{{ event_form | crispy }}

{{ committee_form | crispy }}

{{ category_form | crispy }}

{{ transcript_form | crispy }}

<h4>Witnesses</h4>
{{ witness_formset.management_form }}
<div id="WitnessForm">
  {% for form in witness_formset.forms %}
  <div class='form-container'>

    <div class="row">
       <div class="col-sm-6">
         <div class="col-form-label">{{ form.name.label }}</div>
         {{ form.name }}
       </div>
       <div class="col-sm-6">
         <div class="col-form-label">{{ form.organization.label }}</div>
         {{ form.organization }}
       </div>
    </div>

    <div>
      <div class="col-form-label">{{ form.url.label }}</div>
      {{ form.url }}
    </div>

    <div class="form-check">
      <label class="form-check-label" for="retired">{{ form.retired.label }}</label>
      {{ form.retired }}
    </div>

  </div>
  {% endfor %}
</div>
