{% load staticfiles %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{% static 'images/favicon.png' %}">

<meta name="description" content="The Congressional Oversight Hearing Index is an analytical database that enables the public to evaluate how well each committee in Congress is performing its vital oversight role.">
<meta name="author" content="The Lugar Center">

<!-- Facebook -->
<meta property="og:site_name" content="The Congressional Oversight Index">
<meta property="og:title" content="The Congressional Oversight Index">
<meta property="og:type" content="website">
<meta property="og:description" content="An analytical database that enables the public to evaluate how well each committee in Congress is performing its vital oversight role.">
<meta property="og:url" content="https://oversight-index.thelugarcenter.org/">
<meta property="og:image" content="https://oversight-index.thelugarcenter.org/{% static 'images/card.jpg' %}">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="An analytical database that enables the public to evaluate how well each committee in Congress is performing its vital oversight role.">
<meta name="twitter:title" content="The Congressional Oversight Index">
<meta name="twitter:url" content="https://oversight-index.thelugarcenter.org/">
<meta name="twitter:image:src" content="https://oversight-index.thelugarcenter.org/{% static 'images/card.jpg' %}">
